AZURE_TEXT_ANALYTICS_ENDPOINT="https://YOUR-RESOURCE-NAME.cognitiveservices.azure.com/"
AZURE_TEXT_ANALYTICS_API_KEY="YOUR_AZURE_TEXT_ANALYTICS_API_KEY"
PARSEUR_ID=""
PARSEUR_API_KEY=""
PARSEUR_API_ENDPOINT=""
GEMINI_API_KEY=""
BING_SPELL_CHECK_API_KEY=""
